{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <section>
        <div class="container">
            <h1>Welcome !</h1>
        </div>
    </section>
{% endblock %}
