{% extends 'base.html.twig' %}

{% block title %}Add comment{% endblock %}

{% block body %}
    <section>
        <div class="container">
        <h1> Write your commment</h1>
            {{ form(form) }}
        </div>
    </section>
{% endblock %}
