{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
    <section>
        <div class="container">
            <h1>My comments</h1>
            <ul class="comments-list">
            {% for comment in comments|reverse %}
                <li class="comment">
                    <h2>{{ comment.getArticle().title }}</h2>
                    <p class="content">{{ comment.content }}</p>
                    <p class="date">{{ comment.createdAt|date('d/m/Y - h:m:s') }}</p>
                </li>
            {% endfor %}
            </ul>
        </div>
    </section>
{% endblock %}
