{% extends 'base.html.twig' %}

{% block title %}Update comment{% endblock %}

{% block body %}
    <section>
        <div class="container">
        <h1>Modify your comment</h1>
            {{ form(form) }}
        </div>
    </section>
{% endblock %}