{% extends 'base.html.twig' %}

{% block title %}Categories{% endblock %}

{% block body %}
    <section>
        <div class="container">
            <h1>Categories</h1>
            {{ form(form) }}
        </div>
    </section>
{% endblock %}
